# Byte-compiled
__pycache__
*.py[cod]

# Distribution / packaging
build/
*.egg-info/

# Unit test / coverage reports
.tox/
.coverage
.cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
venv/

# IDE
.idea

# My
old/
marcap/
FinanceDataReader/
download/
logs/
