# Byte-compiled
__pycache__
*.py[cod]

# Distribution / packaging
build/
*.egg-info/

# Unit test / coverage reports
.tox/
.coverage
.cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
venv/

# IDE
.idea

# dir
old/
# marcap/
fsdata*/
.cache/
OpenDartReader/
docs_cache/
download/
v2/
logs/

# link
dart_fss
FinanceDataReader
pykrx
pykrx_openapi